.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
 
    border : 2px solid rgb(0, 0, 0); 
}

.grid >* {
    
    box-sizing: border-box;
    border: 1px solid black;
}
