.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin : auto;
}

.grid > div {
    aspect-ratio: 1 / 1; 
    min-width: 25px;
    border: 1px solid black;
    max-width: calc(100%/17); 
    flex :1 0 calc(100%/17); /* 16 squares for the whole width of the page */
}

